{{header}}

<div class="content">
    {{tools}}

    <div class="section">
            <div class="cards">
                <img src="assets/images/atwied.jpg" >
            </div>

           <p>Around the World in Eighty Days</p>

        <div class="description">
            <h3> One night in the reform club, Phileas Fogg bets his companions that he can travel across the globe in just eighty days. Breaking the well-established routine of his daily life, he immediately sets off for Dover with his astonished valet Passepartout. Passing through exotic lands and dangerous locations, they seize whatever transportation is at hand—whether train or elephant—overcoming set-backs and always racing against the clock.</h3>
        </div>    
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

     <div class="section">
        <div class="cards">
             <img src="assets/images/th.jpg">
        </div>
        <p>The Hobbit</p>
        <div class="description">
            <h3>The Hobbit is set within Tolkien's fictional universe and follows the quest of home-loving Bilbo Baggins, the titular hobbit, to win a share of the treasure guarded by Smaug the dragon. Bilbo's journey takes him from light-hearted, rural surroundings into more sinister territory.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>


    <div class="section">
         <div class="cards">
             <img src="assets/images/jttcofe.jpg">
        </div>
        <p>Journey to the Center of the Earth</p>
        <div class="description">
            <h3> The intrepid Professor Liedenbrock embarks upon the strangest expedition of the nineteenth century: a journey down an extinct Icelandic volcano to the Earth's very core. In his quest to penetrate the planet's primordial secrets, the geologist--together with his quaking nephew Axel and their devoted guide, Hans--discovers an astonishing subterranean menagerie of prehistoric proportions. Verne's imaginative tale is at once the ultimate science fiction adventure and a reflection on the perfectibility of human understanding and the psychology of the questor.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
    
    <div class="section">
         <div class="cards">
             <img src="assets/images/gt.jpg">
        </div>
        <p>Gulliver's Travels</p>
        <div class="description">
            <h3>Lemuel Gulliver, a surgeon who takes to the seas. He completes many voyages without incident, but his final four journeys take him to some of the strangest lands on the planet, where he discovers the virtues and flaws in his own culture by comparing it with others.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/hpatss.jpg">
        </div>
        <p>Harry Potter and the Philosopher's Stone</p>
        <div class="description">
            <h3>Harry, Ron, and Hermione deduce that the treasure under the trapdoor is the Philosopher's Stone, which can transform metal into gold and can also confer immortality. They later discover that Voldemort has been killing unicorns in the Forbidden Forest and drinking their blood, another way to achieve immortality.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}