{{header}}

<div class="content">
    {{tools}}

    <div class="section">
         <div class="cards">
             <img src="assets/images/acod.jpg">
        </div>
        <p>A Confederacy of Dunces</p>
        <div class="description">
            <h3>A Confederacy of Dunces is a knotted, tangled, ridiculous thing. Following it is like unraveling a giant ball of yarn wrapped around a very fat man with a moustache and a funny hat who keeps falling over. So have patience… and watch out for toppling medievalists.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

     <div class="section">
         <div class="cards">
             <img src="assets/images/lj.jpg">
        </div>
        <p>lucky jim</p>
        <div class="description">
            <h3>Meet Jim Dixon, a young man struggling to keep his job in a 1950s English university. Poor Jim has to do everything he can to stay on the good side of his boss Professor Welch, a bumbling old man who invites Jim to his house for a weekend of music and art that Jim finds incredibly boring</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/c22.jpg">
        </div>
        <p>Catch-22</p>
        <div class="description">
            <h3>Catch-22 Summary. Captain John Yossarian, a World War II bombardier, is stationed on the island of Pianosa. He is an individualist who seeks to protect his own life by fleeing to the hospital, since a “catch-22” in the Air Force regulations prevents him from being grounded for illness or obtaining a leave.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
    
    <div class="section">
         <div class="cards">
             <img src="assets/images/go.jpg">
        </div>
        <p>Good Omens</p>
        <div class="description">
            <h3>Good Omens is a comedic novel by Terry Pratchett and Neil Gaiman. The plot focuses primarily on the attempts of Heaven and Hell to bring about the Apocalypse and the efforts of two characters—an angel named Aziraphale and a demon named Crowley—to thwart such attempts.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/thgttg.jpg">
        </div>
        <p>The Hitchhiker's Guide to the Galaxy</p>
        <div class="description">
            <h3>Earthman Arthur Dent is rescued by his friend, Ford Prefect—an alien researcher for the titular Hitchhiker's Guide to the Galaxy, an enormous work providing information about every planet in the universe—from the Earth just before it is destroyed by the alien Vogons.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}