{{header}}

<div class="content">
  {{tools}}

    <div class="section">
        <div class="background-image"></div>
            <div class="cards">
             <img src="assets/images/book2.jpg">
        </div>
        <p>Percy Jackson and the Olympians: The Sea of Monters</p>
        <div class="description">
            <h3> When Thalia's tree is mysteriously poisoned, the magical borders of Camp half-Blood begin to fail. Now PErcy and his Friends have just days to find the only magic item powerful to save the camp before it is overrun by monsters. The catch: they must sail into the Sea of Monsters to find it. Along the way, Percy must stage a daring rescue operation to save his old friend Grover, and he learns a terrible secret about his  own family, which makes him question whether being the son of Poseidon is an honor or a curse.</h3>
        </div>
        <input type="button" value="Remove story"{{action 'pressed'}} >
    </div>


</div>

{{footer}}

{{outlet}}