{{header}}

<div class="content">
    {{tools}}

    <div class="section">
            <div class="cards">
                <img src="assets/images/lotr.jpg" >
            </div>

           <p>Lord of the Rings</p>

        <div class="description">
            <h3>In ancient times the Rings of Power were crafted by the Elven-smiths, and Sauron, the Dark Lord, forged the One Ring, filling it with his own power so that he could rule all others. But the One Ring was taken from him, and though he sought it throughout Middle-earth, it remained lost to him. After many ages it fell by chance into the hands of the hobbit Bilbo Baggins.

From Sauron's fastness in the Dark Tower of Mordor, his power spread far and wide. Sauron gathered all the Great Rings to him, but always he searched for the One Ring that would complete his dominion.

When Bilbo reached his eleventy-first birthday he disappeared, bequeathing to his young cousin Frodo the Ruling Ring and a perilous quest: to journey across Middle-earth, deep into the shadow of the Dark Lord, and destroy the Ring by casting it into the Cracks of Doom.</h3>
        </div>    
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/th.jpg">
        </div>
        <p>The Hobbit</p>
        <div class="description">
            <h3>The Hobbit is set within Tolkien's fictional universe and follows the quest of home-loving Bilbo Baggins, the titular hobbit, to win a share of the treasure guarded by Smaug the dragon. Bilbo's journey takes him from light-hearted, rural surroundings into more sinister territory.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
            <div class="cards">
                <img src="assets/images/percy.jpeg" >
            </div>

           <p>Percy Jackson and the Olympians: The Lightning Thief</p>

        <div class="description">
            <h3> Twelve-year-old Percy Jackson is on the most dangerous quest of his life. With the help of a satyr and a daughter of Athena, Percy must journey across the united States to catch a thief who has stolen the original weapon of mass destruction - Zues's master bolt. Along the way, he must face a host of mythological enemies determined to stop him. Most of all, he must come to terms with a father he has never known, and an Oracle that has warned him of betrayal by a friend.</h3>
        </div>    
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/book2.jpg">
        </div>
        <p>Percy Jackson and the Olympians: The Sea of Monters</p>
        <div class="description">
            <h3> When Thalia's tree is mysteriously poisoned, the magical borders of Camp half-Blood begin to fail. Now PErcy and his Friends have just days to find the only magic item powerful to save the camp before it is overrun by monsters. The catch: they must sail into the Sea of Monsters to find it. Along the way, Percy must stage a daring rescue operation to save his old friend Grover, and he learns a terrible secret about his  own family, which makes him question whether being the son of Poseidon is an honor or a curse.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/book3.jpg">
        </div>
        <p>Percy Jackson and the Olympians: The Titan's Curse</p>
        <div class="description">
            <h3> When Percy jackson gets an urgent distress call from his friend Grover, he immediately prepares for battle. He knows he will need his powerful demigod allies at his side, his trusty bronze sword Riptide, and ... a ride from his mom. The demigods rush to the rescue to find that Grover has made an important discovery: two powerful half-bloods whose parentage is unknown. But thats's not all that awaits them. The titan lord Kronos has devised his most treacherous plot yet, and the young heroes have just fallen prey. They're not the only ones in danger. An ancient monster has arisen - one rumored to be so powerful it could destroy Olympus - and Artemis, the only goddess who might know how to tract it, is missing. Now Percy and his friends, along with the Hunters of Artemis, have only a week to find the kidnapped goddess and solve the mystery of the monster she was hunting. Along the way, they must face their most dangerous challenge yet: the chilling prophecy of the titan's curse</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
</div>

{{footer}}

{{outlet}}