{{header}}

<div class="content">
    {{tools}}

    <div class="section">
         <div class="cards">
             <img src="assets/images/carrie.jpg">
        </div>
        <p>Carrie</p>
        <div class="description">
            <h3>Carrie is constantly abused at home by her very religious mother and at school by her peers. In high school she realizes she has telekinetic powers and not long after, is invited to prom by a boy named Tommy Ross</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

     <div class="section">
         <div class="cards">
             <img src="assets/images/dracula.jpg">
        </div>
        <p>Dracula</p>
        <div class="description">
            <h3>Count Dracula, a 15th-century prince, is condemned to live off the blood of the living for eternity. Young lawyer Jonathan Harker is sent to Dracula's castle to finalise a land deal, but when the Count sees a photo of Harker's fiancée, Mina, the spitting image of his dead wife, he imprisons him and sets off for London to track her down.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/te.jpg">
        </div>
        <p>The Exorcist</p>
        <div class="description">
            <h3>The Exorcist is a 1971 horror novel by American writer William Peter Blatty. The book details the demonic possession of eleven-year-old Regan MacNeil, the daughter of a famous actress, and the two priests who attempt to exorcise the demon.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
    
    <div class="section">
         <div class="cards">
             <img src="assets/images/bb.jpg">
        </div>
        <p>Bird Box</p>
        <div class="description">
            <h3>American writer and singer Josh Malerman's debut novel, Bird Box (2014), is a post-apocalyptic tale told through a mixture of flashbacks and present-day accounts as a mother desperately attempts to find a way to guide herself and her children to safety despite the threat of an unseen adversary.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/thohh.jpg">
        </div>
        <p>The Haunting of Hill House book</p>
        <div class="description">
            <h3>The Haunting of Hill House book follows four strangers, all of whom come to Hill House, long-rumored to be haunted, under the guidance of Dr. Montague, who is hoping to scientifically prove the existence of the supernatural. Over the course of the summer, the house proves itself to be extremely haunted.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}