{{header}}

<div class="content">
    {{tools}}

     <div class="section">
         <div class="cards">
             <img src="assets/images/tatbilb.jpg">
        </div>
        <p>To all the Boys I Love Before </p>
        <div class="description">
            <h3>Lara Jean Covey writes letters to all of her past loves, the letters are meant for her eyes only. Until one day when all the love letters are sent out to her previous loves. Her life is soon thrown into chaos when her foregoing loves confront her one by one</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/psisly.jpg">
        </div>
        <p>P.S. I Still Love You</p>
        <div class="description">
            <h3>In the novel, P.S. I Still Love You by Jenny Han, Lara Jean Song Covey finds herself being pursued by two boys between whom she must choose. Peter Kavinsky was her boyfriend until she broke up with him because he lied to her. John Ambrose McClaren is a grade school friend with whom Lara Jean has recently reconnected.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/aaflj.jpg">
        </div>
        <p>Always and Forever, Lara Jean</p>
        <div class="description">
            <h3>Lara Jean Covey is in her senior year of high school, and she's happier than ever with her long-term boyfriend, Peter Kavinsky. They visit the University of Virginia's (UVA's) campus together and make plans for the following fall, when Peter will begin his scholarship with the UVA lacrosse team.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/tn.jpg">
        </div>
        <p>The Notebook</p>
        <div class="description">
            <h3>The Notebook is a 1996 novel by Nicholas Sparks. The story centers on the relationship between Noah Calhoun and Allie Nelson. Spanning over five decades, their love endures an uncertain beginning, the onset and conclusion of World War II, the death of one child, and Allie's eventual diagnosis of Alzheimer's disease.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
    
    <div class="section">
         <div class="cards">
             <img src="assets/images/thg.jpg">
        </div>
        <p>The Hate Game</p>
        <div class="description">
            <h3>Hate. And they have no problem displaying their feelings through a series of ritualistic passive aggressive maneuvers as they sit across from each other, executive assistants to co-CEOs of a publishing company. Lucy can't understand Joshua's joyless, uptight, meticulous approach to his job.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}