{{header}}

<div class="content">
    {{tools}}

    <div class="section">
         <div class="cards">
             <img src="assets/images/bnw.jpg">
        </div>
        <p>Brave New World</p>
        <div class="description">
            <h3>The novel examines a futuristic society, called the World State, that revolves around science and efficiency. In this society, emotions and individuality are conditioned out of children at a young age, and there are no lasting relationships because “every one belongs to every one else”</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

     <div class="section">
         <div class="cards">
             <img src="assets/images/ttm.jpg">
        </div>
        <p>The Time Machine</p>
        <div class="description">
            <h3>The Time Machine is a science fiction novella by H. G. Wells, published in 1895 and written as a frame narrative. The work is generally credited with the popularization of the concept of time travel by using a vehicle or device to travel purposely and selectively forward or backward through time.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/1984.jpg">
        </div>
        <p>1984</p>
        <div class="description">
            <h3>A man loses his identity while living under a repressive regime. In a story based on George Orwell's classic novel, Winston Smith (John Hurt) is a government employee whose job involves the rewriting of history in a manner that casts his fictional country's leaders in a charitable light. His trysts with Julia (Suzanna Hamilton) provide his only measure of enjoyment, but lawmakers frown on the relationship -- and in this closely monitored society, there is no escape from Big Brother.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>
    
    <div class="section">
         <div class="cards">
             <img src="assets/images/nm.jpg">
        </div>
        <p>Neuromancer</p>
        <div class="description">
            <h3>Neuromancer is a cyberpunk novel about a group of mercenary criminals who secretly work for an artificial intelligence that's trying to break free. Cyberpunk is a genre that focuses on future societies where technology has advanced, but crime and corruption have as well.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/tlhod.jpg">
        </div>
        <p>The Left Hand of Darkness</p>
        <div class="description">
            <h3>The Left Hand of Darkness is the story of how the Terran Genly Ai comes to the planet Gethen to persuade Gethen to enter the Ekumen, the community of worlds. And it's the story of the Gethenian Therem Harth rem i'r Estraven who recognises something larger than the horizons he grew up with.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}