{{header}}

<div class="content">
    {{tools}}

    <div class="section">
            <div class="cards">
                <img src="assets/images/it.jpg" >
            </div>

           <p>It</p>

        <div class="description">
            <h3>IT follows the story of seven preteen children from the fictional town of Derry, Maine who are stalked and terrorized by an evil eldritch entity they only know as "IT." The mysterious creature has the ability to easily shapeshift and disguise itself to its prey, and uses their greatest and deepest psychological fears against them. One of IT’s favorite disguises is the appearance of a circus clown called Pennywise.</h3>
        </div>    
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/bigts.jpg">
        </div>
        <p>Before I go to sleep</p>
        <div class="description">
            <h3>Christine wakes up every morning in an unfamiliar bed with an unfamiliar man. She looks in the mirror and sees an unfamiliar, middle-aged face. And every morning, the man she has woken up with must explain that he is Ben, he is her husband, she is forty-seven years old, and a terrible accident two decades earlier decimated her ability to form new memories.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/tgott.jpg">
        </div>
        <p>The Girl on the Train</p>
        <div class="description">
            <h3> Rachel catches the same commuter train every morning. She knows it will wait at the same signal each time, overlooking a row of back gardens. She’s even started to feel like she knows the people who live in one of the houses. “Jess and Jason,” she calls them. Their life—as she sees it—is perfect. If only Rachel could be that happy. And then she sees something shocking. It’s only a minute until the train moves on, but it’s enough. Now everything’s changed. Now Rachel has a chance to become a part of the lives she’s only watched from afar. Now they’ll see; she’s much more than just the girl on the train...</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/kf.jpg">
        </div>
        <p>Killing Floor</p>
        <div class="description">
            <h3> Ex-military policeman Jack Reacher is a drifter. He's just passing through Margrave, Georgia, and in less than an hour, he's arrested for murder. Not much of a welcome. All Jack knows is that he didn't kill anybody. At least not here. Not lately. But he doesn't stand a chance of convincing anyone. not in Margrave, Georgia. Not a chance in hell.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

    <div class="section">
         <div class="cards">
             <img src="assets/images/tsotl.jpg">
        </div>
        <p>The Silence of the Lambs</p>
        <div class="description">
            <h3> Hannibal Lecter. The ultimate villain of modern fiction. Read the five-million-copy bestseller that scared the world silent. The Silence of the Lambs. A young FBI trainee. An evil genius locked away for unspeakable crimes. A plunge into the darkest chambers of a psychopath's mind--in the deadly search for a serial killer.</h3>
        </div>
        <input type="submit" value="Add story"{{action 'pressed'}} >
    </div>

</div>

{{footer}}

{{outlet}}